.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    box-sizing: border-box;

    > .left {
        width: 30%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        > .list1 li{
            padding: .5rem 0;
            font-weight: 600;
        }

        > .list2 li{
                        padding: .5rem 0;
                            font-weight: 600;
        }
    }

    > .right {
        position: absolute;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;   
        top: 20%;
        right: 5%;

        .icon{
            font-size: 1.5rem;
            margin: .5rem 0;
            margin-right: 1rem;
            
                &:hover {
                    color: #d9008d;
                    transition: .3s;
                    cursor: pointer;
                }
        }
    }
}

.bottom{
    text-align: center;
    margin-bottom: 1rem;
}