@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@300;400;500&display=swap');

$bg: rgb(17, 17, 17);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

body{
    background-color: $bg;
    color: #fff;
}

.header {
    border-bottom: 2px solid #262728;

    .header-items{
        height: 4.5rem;
        width: 1400px;
        min-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    
        >img {
            height: 80%;
        }
    
        >.links {
            width: 100%;
            margin-left: 2vmax;

            >a {
                font-weight: 500;
                margin: .6vmax;
                color: #717171;

                &:hover {
                    color: #fff;
                    transition: .3s;
                }
            }
        }

        > .search-bar{
            width: calc(100% - 800px);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0 2rem;
            background: #262728;
            padding: 0 1.5rem;
            border-radius: 70px;
        
            > #search {
                width: 100%;
                border: none;
                margin: 0 .5rem;
                padding: 0 .5rem;
                background: #262728;
                outline: 0;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.4375em;
                letter-spacing: 0.00938em;
                cursor: text;
                display: inline-flex;
                -webkit-box-align: center;
                align-items: center;
                color: #fff;
                height: 40px;
            }
        }

        >svg {
            color: #fff;
            font-size: 2rem;

        &:hover {
            color: #d9008d;
            transition: .3s;
            cursor: pointer;
            }
        }   
    }
}